*,
*::before,
*::after {
  box-sizing: border-box;
  caret-color: transparent;

}


body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}


body {
  line-height: 1.5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;


}


ul[role='list'],
ol[role='list'],
ul,
ol {
  list-style: none;
}


a {
  text-decoration: none;
}


img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;

}



button {
  cursor: pointer;
  border: none;
  background: none;

}
 
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-color) #f0f0f0;

} 


*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}


*::-webkit-scrollbar-thumb:hover {
  background-color: #0c0b0b;
}