.leaves {
  display: none;
}

.right {
  display: flex;
  flex-direction: column;
  background-color: #F0F1F3;
  width: 100%;
  position: relative;
  overflow: hidden;

}


@media (min-width: 768px) and (max-width: 1023px) {

  .right {
    flex-direction: row;

  }

  .leaves {
    display: block;
    position: absolute;
    width: 428px;
    height: 602px;
    top: -60px;
    right: 0;
    z-index: 999;
    pointer-events: none;

  }
}


@media (min-width: 1024px) {
  .wrapper {
    display: flex;
    min-height: 100vh;
  }

  .left {
    flex: 2;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }


  .right {
    flex: 1;
    background-color: #f0f1f3;
    padding: 32px;
    display: flex;
    flex-direction: column;
  }

  .leaves {
    display: block;
    position: absolute;
    top: 180px;
    left: 165px;
    width: 740px;
    height: 440px;
    transform: rotate(-90deg);

  }
}