.home.imagesContainer {
  position: relative;
  width: 100%;
  height: auto;
}

.login.imagesContainer {
  position: relative;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 767px) {

  .home.imagesContainer,
  .login.imagesContainer {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .home.imagesContainer {
    height: 64vh;
    overflow: visible;
  }

  .login.imagesContainer {
    height: 100vh;
    overflow: visible;
  }

  .home .banana {
    position: absolute;
    width: clamp(350px, 28vw, 364px);
    top: clamp(200px, 30vh, 400px);
    right: 0;
    z-index: 999;
  }

  .login .banana {
    position: absolute;
    width: clamp(350px, 38vw, 264px);
    top: 150vh;
    right: 0;
    z-index: 998;
  }

  .home .strawberry {
    position: absolute;
    width: clamp(230px, 25vw, 298px);
    height: auto;
    top: clamp(-30px, 5vh, -50px);
    right: 10vw;
    z-index: 999;
  }

  .login .strawberry {
    position: absolute;
    width: clamp(350px, 25vw, 398px);
    top: 95%;
    right: -40px;
    z-index: 998;
  }

  .home .leaves {
    position: absolute;
    width: clamp(450px, 40vw, 531px);
    height: auto;
    top: 0vh;
    left: 20vw;
    z-index: 200;
  }

  .login .leaves {
    position: absolute;
    width: clamp(750px, 80vw, 831px);
    top: -20vh;
    left: 5vw;
    z-index: 997;
    transform: rotate(-90deg);
  }

  .home .shadow {
    position: absolute;
    width: clamp(500px, 30vw, 553px);
    height: auto;
    top: -30vh;
    right: -5vw;
    z-index: 0;
    object-fit: cover;
  }

  .login .shadow {
    position: absolute;
    width: clamp(480px, 30vw, 553px);
    height: 650px;
    top: 500px;
    right: 0vw;
    z-index: 0;
  }
}

@media screen and (min-width: 1024px) {
  .home.imagesContainer {
    height: 0;
    overflow: visible;
  }

  .login.imagesContainer {
    height: 70vh;
    overflow: visible;
  }

  .home .banana {
    top: -35vh;
    width: clamp(300px, 28vw, 364px);
    z-index: 999;
  }

  .login .banana {
    position: absolute;
    width: clamp(450px, 28vw, 464px);
    top: -20vh;
    right: 0;
    z-index: 999;
  }

  .home .strawberry {
    width: clamp(250px, 32vw, 350px);
    top: 18vh;
    right: 0;
  }

  .login .strawberry {
    position: absolute;
    width: clamp(300px, 25vw, 398px);
    top: 45%;
    right: -40px;
    z-index: 998;
  }

  .home .leaves {
    width: clamp(500px, 50vw, 746px);
    top: -35vh;
    left: 35vw;
    transform: rotate(-90deg);
  }

  .login .leaves {
    position: absolute;
    width: clamp(650px, 80vw, 731px);
    top: -20vh;
    left: 14vw;
    z-index: 990;
    transform: rotate(-90deg);
  }

  .home .shadow {
    width: clamp(400px, 50vw, 602px);
    top: -28vh;
    right: -3vw;
  }

  .login .shadow {
    position: absolute;
    width: clamp(480px, 80vw, 653px);
    height: 550px;
    top: 0vh;
    right: 0vw;
    z-index: 0;
  }
}

@media screen and (min-width: 1440px) {
  .home .banana {
    top: -31vh;
    right: 0;
    width: 26.4vw;
  }

  .login .banana {
    position: absolute;
    width: clamp(450px, 28vw, 664px);
    top: -30vh;
    right: 0;
    z-index: 999;
  }

  .home .strawberry {
    top: 20vh;
    right: 2.7vw;
    width: 25vw;
  }

  .login .strawberry {
    position: absolute;
    width: clamp(300px, 25vw, 398px);
    top: 25%;
    right: -10px;
    z-index: 998;
  }


  .home .leaves {
    top: -31vh;
    left: 35vw;
    width: 54vw;
  }


  .login .leaves {
    position: absolute;
    width: clamp(650px, 80vw, 731px);
    top: -30vh;
    left: 30vw;
    z-index: 990;
    transform: rotate(-90deg);
  }

  .home .shadow {
    top: -33vh;
    right: 0;
    width: 44.5vw;
  }

  .login .shadow {
    position: absolute;
    width: clamp(480px, 80vw, 653px);
    height: 650px;
    top: -20vh;
    right: 0vw;
    z-index: 0;
  }


}